alembic==1.15.1
altair==5.5.0
bcrypt==4.3.0
elasticsearch==8.17.2
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
GitPython==3.1.44
gunicorn==23.0.0
lxml==5.3.1
numpy==2.2.3
pandas==2.2.3
pdfminer.six==20240706
pillow==11.1.0
psycopg2-binary==2.9.10
pyarrow==19.0.1
python-docx==1.1.2
requests==2.32.3
SQLAlchemy==2.0.38
streamlit==1.43.1
