{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Bienvenue, {{ current_user.first_name }} {{ current_user.last_name }} !</h1>
    <div class="row mt-4">
        <div class="col-md-6 mx-auto text-center">
            <a href="{{ url_for('documents') }}" class="btn btn-primary btn-lg m-2">Voir les documents</a>
            <a href="{{ url_for('search_documents') }}" class="btn btn-success btn-lg m-2">Rechercher un document</a>
            <a href="{{ url_for('upload_file') }}" class="btn btn-warning btn-lg m-2">Uploader un document</a>
        </div>
    </div>
</div>
{% endblock %}